<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/show">
        <!-- action='/show' to make sumbit can turn page to route show and trigger the urls again-->
        {% csrf_token %}
        <h3>Random Word (attempt {{number}})</h3>
        
        <h1>{{str}}</h1>
        <input type="submit" value="Submit"></input>
    </form>
</body>
</html>